@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    background-color: black;
    color: white;
}


.home-header{
    text-align: left;
    color: white;
    display: block;
    position: fixed;
    width: 60%;
    height: 10%;
    top: 0;
    left: 0;
    border: solid green 2px;
    box-sizing: border-box;
}

.header-text{
    position: absolute;
    display: block;
    text-align: left;
    left: 20%
}

.main-content{
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    padding: 0;
    top: 0;
    text-align: center;
    display: block;
    position: relative;
    box-sizing: border-box;
    background-color: black;
    border: solid red 2px;
    box-sizing: border-box;
}

.home-image{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 10%;
    height: 10vh;
    border: solid pink 2px;
    box-sizing: border-box;
}

table{
    display: block;
    position: absolute;
    width: 60%;
    top: 13%;
    left: 0;
    border: solid blue 2px;
    box-sizing: border-box;
}

th, td{
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    color:#9e9b9b;
    
}


.category{
   width: 100%;
   height: 50%;
   position: relative;
   text-align: left;
   border: 1px solid  #e2e2e2;
}

.results{
    width: 100%;
    height: 50%;
    position: relative;
    text-align: left;
    border: 1px solid  #e2e2e2;
 }

.world-box{
    width: 40%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 0;
    border: solid purple 2px;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}