html {
    border: 5px solid red;
    font-size: 16px;
    height: 100%;
    box-sizing: border-box;
}

.home-header{
    text-align: center;
    font-size: 2rem;
    color: black;
}

.fa-home{
    color: black;
    font-size: 1.5rem;
}

.name{
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

.percent{
    font-style: italic;
    font-weight: 900;
    font-size: 2rem;
    color: green; 
}

.measurements{
    font-style: italic;
    font-weight: 300;
}